# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/*/Package.resolved

# OS
.DS_Store
*.swp
*~

# Secrets
.env
*.key
